.mortgage_form {
  display: flex;
  flex-direction: column;
}

.form_field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form_group:last-of-type {
  margin-bottom: 0.5rem;
}

.field_label {
  font-weight: 600;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  white-space: nowrap;
}
.field_label span {
  font-weight: 300;
  font-size: 0.8rem;
  color: grey;
  font-style: italic;
}

.input_wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f8faff;
  transition: box-shadow 0.2s ease;
}
.input_wrapper input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
}

.input_wrapper:focus-within {
  box-shadow: 0 0 0 2px var(--brand-color-secondary);
  border-color: var(--brand-color-secondary);
}

/* Unit box inside the input wrapper */
.field_unit {
  padding: 0.2em 0.75em;
  background-color: #fff;
  font-weight: 500;
  color: #333;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
  height: 100%;
}

/* If the unit should be on the right (optional) */
.input_wrapper.unit-right .field_unit {
  border-right: none;
  border-left: 1px solid #ccc;
}

.field_error {
  color: red;
  font-size: 0.875rem;
  margin: 0;
  min-height: 1rem;
  transition: color 0.2s;
  font-style: italic;
  text-align: end;
}

/* On tablets and up */
@media (min-width: 540px) {
  .form_field {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .input_wrapper {
    width: 50%;
  }
  .field_label {
    flex-direction: column;
    gap: 0;
  }
}
