.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  color: var(--brand-color-primary);
  transform: translate(-50%, -50%);
}

.modal_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--brand-color-primary);
}
