.table-container {
  position: relative;
  max-width: 500px;
  max-height: 300px;
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: var(--brand-color-primary) transparent;
  scroll-padding: 30px;
  /* border: 1px solid var(--brand-color-primary);
  border-radius: 10px; */
  scrollbar-gutter: unset;
}
.table-container::-webkit-scrollbar {
  width: 12px; /* width of vertical scrollbar */
  height: 12px; /* height of horizontal scrollbar */
}

.table-container::-webkit-scrollbar-track {
  background: transparent; /* don’t hide the rounded corners */
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: var(--brand-color-primary);
  border-radius: 10px;
  border: 3px solid transparent; /* creates spacing so corners show */
  background-clip: content-box;
}
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: auto;
  white-space: nowrap;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--brand-color-secondary);
  text-transform: capitalize;
  color: var(--text-color);
  z-index: 1;
}
.custom-table thead th {
  padding: 8px;
  text-transform: capitalize;
  text-align: start;
}

.custom-table tbody td,
.custom-table tfoot td {
  padding: 8px;
  text-align: start;
}

.custom-table thead th:first-child {
  border-top-left-radius: 10px;
}
.custom-table thead th:last-child {
  border-top-right-radius: 10px;
}

.custom-table tbody tr:nth-child(even) {
  background-color: var(--brand-color-background);
}

.custom-table tfoot {
  color: var(--text-color);
  font-weight: 600;
  border-top: 2px solid var(--brand-color-primary);
}

.custom-table tfoot td {
  padding-top: 0.75rem;
  font-weight: 600;
  text-align: end;
}
